body {
    font-size: 2em;
    margin: 20px;
}

div {
    display: block;
    margin: 20px
}

span {
    display: inline;
    background-color: blue;
}

.bgcolor_btn {
    padding: 20px 30px;
    font-size: 30px;
}

